.app-wrapper {
  background: linear-gradient(0deg, rgba(165,161,241,1) 0%, rgba(200,200,228,1) 35%, rgba(233,251,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.content{
  padding-bottom: 10%;
  color: #30004c;
}

.chart{
  padding-bottom: 5%;
}

.slider{
  max-width: 60%;
}

.set-temp-btn{
  color: white;
  font-size: larger;
  margin-top: 3%;
  width: 20%;
  padding: 10px 0 10px 0;
  border-radius: 8px;
  border-width: 0;
  background: #1975d0;
}

.set-temp-btn:hover{
  background: #074c8f;
}
